<!DOCTYPE html>
<html lang="en">
<head>
  <title>Statement | Expenze</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./bulma2.css">
  <script src="./jquery.min.js"></script>
  <script src="./axios.min.js"></script>
  <script src="./bootstrap.min.js"></script>
  <script src="vue-2.6.12.js"></script>
  <style>
  body {
    background-color: #eeeeee;
    font-size: 17px;
    padding-bottom: 2rem !important;
  }
  p {
    margin: 0 !important;
  }
  :root {
    --padding-x-table: 20px;
  }
  .table>thead>tr>th {
    padding-left: var(--padding-x-table);
    padding-right: var(--padding-x-table);
  }
  .table>tbody>tr>td {
    padding: 0rem var(--padding-x-table);
    
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .font-14 {
    font-size: 14px;
  }
  .t-blue{
    color: #0c3940; /* #0a2f35; */
  }
  .t-green{
    color: #196642;
  }
  .t-red{
    color: #791f06;
  }
  .t-orange {
    color: #4a2d03; /*tag*/
  }
  .navbar {
    margin-bottom: 1rem !important;
  }
  .c-block {
    display: block;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Expenze</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history.html">History</a>
        </li>
        <li class="nav-item dropdown active"
          onclick="document.getElementById('dd-statement').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle"> Statement </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-statement">
            <a class="dropdown-item" href="statement_card_view.html">Card View</a>
            <a class="dropdown-item active" href="credit_card.html">Credit Card</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscription.html">Subscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="stock.html">Stocks</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right pr-5">
        <li class="nav-item dropdown"
          onclick="document.getElementById('dd-account').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle">Accounts</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-account">
            <a class="dropdown-item" href="account.html">List</a>
            <a class="dropdown-item" href="balance.html">Balance</a>
            <a class="dropdown-item" href="expenses.html">Expenses</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tag.html">Tag</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container" id="transaction-app">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <form>
          <div class="form-row">
            <div class="form-group col-3">
              <label for="amount">Account</label>
              <select class="form-control" v-model="model.account_id" @change="updateAmount($event)">
                <option v-for="(item, key) in accounts" :value="item.id" v-bind:key="key" :disabled="item.is_closed!=0"
                >{{item.name}}: {{item.amount}}</option>
              </select>
            </div>
            <div class="form-group col-2">
              <label for="name">Amount</label>
              <input type="text" class="form-control" placeholder="Amount"
                v-model="model.amount">
            </div>
            <div class="form-group col-3">
              <label for="name">Remark</label>
              <input type="text" class="form-control" placeholder="Remark"
                v-model="model.remarks">
            </div>
            <div class="form-group col-2">
              <label>Start Date</label>
              <input type="date" class="form-control" v-model="model.event_date">    
            </div>
            <div class="form-group col-2">
              <div class="form-group">
                <label for="amount">Save</label>
                <button class="btn btn-primary" @click="save()">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12">
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Account Name</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Remark</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="st in statements">
              <td></td>
              <td><a class="t-orange" style="cursor: pointer;"
                >{{st.name}}</a></td>
              <td class="pull-right r-red ">{{format.format(st.amount)}}</td>
              <td>
                <span class="ml-auto t-high-blue">{{st.event_date}}</span>
              </td>
              <td class="t-green">{{st.remarks}}</td>
              <td>
                <a class="btn btn-warning" style="padding:0rem .75rem" href="#transaction-app" @click="editRecord(st)">Edit</a>
                <a class="btn btn-danger" style="padding:0rem .75rem" href="#transaction-app" @click="deleteRecord(st)">Delete</a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="8" v-if="statements.length == 0">
                <p class="t-blue text-center">No Records Found!</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-4">
        <nav class="bulma bulma-nav">
          <ul class="bulma-nav-ul" style="list-style-type:none;">
            <li v-bind:class="[transaction.page_size === 10 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 10;getStatement()">10</a>
            </li>
            <li v-bind:class="[transaction.page_size === 20 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 20;getStatement()">20</a>
            </li>
            <li v-bind:class="[transaction.page_size === 40 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 40;getStatement()">40</a>
            </li>
            <li v-bind:class="[transaction.page_size === 80 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 80;getStatement()">80</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-8">
        <nav class="bulma bulma-page pull-right">
          <a class="bulma-page-link" :disabled="transaction.page_index === 1"
             @click="pagePrevious()">Previous</a>
          <a class="bulma-page-link" :disabled="transaction.page_total === 1 || transaction.page_total === transaction.page_index"
             @click="pageNext()">Next page</a>
          <ul class="bulma-page-ul" style="list-style-type:none;">
            <li v-if="transaction.page_index > 2">
              <a class="bulma-page-link" @click="changePage(1)">1</a>
            </li>
            <li v-if="transaction.page_index > 3"><a class="bulma-page-ellipsis">&hellip;</a></li>

            <li v-if="transaction.page_index > 1">
              <a class="bulma-page-link" @click="changePage(transaction.page_index - 1)">{{transaction.page_index - 1}}</a>
            </li>
            <li class="is-current"><a class="bulma-page-link">{{transaction.page_index}}</a></li>
            <li v-if="(transaction.page_total - transaction.page_index) > 0">
              <a class="bulma-page-link" @click="changePage(transaction.page_index + 1)">{{transaction.page_index + 1}}</a>
            </li>

            <li v-if="(transaction.page_total - transaction.page_index) > 2"><a class="bulma-page-ellipsis">&hellip;</a></li>
            <li v-if="(transaction.page_total - transaction.page_index) > 1">
              <a class="bulma-page-link" @click="changePage(transaction.page_total)">{{transaction.page_total}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>

  <script>
    var amountStatement = Vue.component('amount-statement', {
      data: function() {//() {
        return {
          format: new Intl.NumberFormat(
            'en-IN', 
            { style: 'currency', currency: 'INR' }
          )
        }
      },
      methods: {
        addThing: function() {
        }
      },
      props: //['name', 'original', 'statement', 'percentage', 'remark', 'originalColor', 'statementColor']
      {
        name: { type: String, required: true},
        original: { type: [Number, String]},
        statement: { type: [Number, String]},
        remark: { type: String},
        originalColor: { type: String },
        statementColor: { type: String }
      },
      template: '<div>{{name}} <span class="t-orange" v-if="percentage" style="font-size: small;">({{percentage}} %)</span>'+
        '<span class="pull-right" :class="originalColor" v-if="original" :title="format.format(statement)">{{format.format(original)}}</span>' +
        '<br v-if="original && statement" /> ' +
        '<span v-if="!original || ( statement && ( (original/statement) > 1.05 || (original/statement) < 0.95 ) )" ' +
          ' class="pull-right" :class="statementColor">~ {{format.format(statement)}}</span>' +
        '<span class="t-orange" v-if="remark">{{remark}}</span>' +
      '</div>'
    })

    var app = new Vue({
      el: '#transaction-app',
      data: {
        editId: null,
        model: {},
        accountMap: {},
        accounts: [],
        statements: [],
        duration: 1,
        transaction: {
          page_index: 1,
          page_size: 10,
          page_total: 0
        },
        format: new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' })
      },
      created() {
      },
      methods: {
        updateAmount: function(event) {
          var index = event.target.options.selectedIndex
          var amount = this.accounts[index].amount
          this.model.amount = 0 - amount
        },
        save: function() {
          this.model.account_id = parseInt(this.model.account_id);
          this.model.amount = parseFloat(this.model.amount);
          if (this.editId) {
            axios.post('/statements/'+this.editId, this.model )
            .then((response) => { this.clear(); });
          } else {
            axios.post('/statements', this.model )
            .then((response) => { this.clear(); });
          }
        },
        pagePrevious: function()  {
          if (this.transaction.page_index > 1 ) {
            this.transaction.page_index --;
            this.getStatement();
          }
        },
        pageNext: function() {
          if (this.transaction.page_index != this.transaction.page_total && this.transaction.page_total != 1) {
            this.transaction.page_index ++;
            this.getStatement();
          }
        },
        changePage: function(n) {
          this.transaction.page_index = n;
          this.getStatement();
        },
        getStatement: function() {
          axios.get('/statements', { params: this.transaction })
          .then((response) => {
            this.statements = response.data.list;
            listCount = response.data.total;

            pageWeight = this.transaction.page_size;
            b = listCount % pageWeight;
            if (b > 0) {
              listCount = listCount + (pageWeight - b);
            }
            this.transaction.page_total = listCount / pageWeight;
          });
        },
        getCardNameAndExpense: function(item) {
          var bill = item.split(':');
          return [bill[0], parseFloat(bill[1] || "0"), bill[2] || ""]
        },
        getAccounts: function() {
          axios.get('/accounts/type/Credit')
          .then((response) => {
            var res = response.data;
            for (const item in res) {
              this.accountMap[res[item].id] = res[item].name;
            }
            this.accounts = res;
          });
        },
        editRecord: function(item) {
            this.model = { ...item };
            this.editId = item.id;
        },
        deleteRecord: function(item) {
          axios.delete('/statements/'+item.id )
            .then((response) => { this.clear(false); });
        },
        clear() {
          this.model = {
            account_id: null,
            amount: null,
            event_date: new Date().toISOString().slice(0,10),
            remarks: null
          }
          this.editId = null;
          this.getStatement();
        }
      },
      mounted() {
        this.clear();
        this.getAccounts();
      },
      components: { amountStatement }
    });
  </script>
</html>
