<!DOCTYPE html>
<html lang="en">
<head>
  <title>Expenze | History</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./bulma2.css">
  <script src="./jquery.min.js"></script>
  <script src="./axios.min.js"></script>
  <script src="./bootstrap.min.js"></script>
  <script src="vue-2.6.12.js"></script>
  <style>
  body {
    background-color: #eeeeee;
  }
  .card {
    border: 1px solid #fac16b;
    /* border-color: #fac16b; */
    border-radius: 5px;
    margin: 4px;
    padding: 8px;
    font-size: 17px;
    box-shadow: 0 .5rem 1rem #ffebcc!important;
    margin-bottom: 10px;
    background-color: #fffbf5;
  }
  .navbar {
    margin-bottom: 1rem !important;
  }
  p {
    margin: 0 !important;
  }
  :root {
    --padding-x-table: 20px;
  }
  .table>thead>tr>th, .table>tbody>tr>td {
    padding: .4rem;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .font-14 {
    font-size: 14px;
  }
  .t-italic {
    font-style: italic;
  }
  .t-blue-green {
    color: #f56038; /*remark */
  }
  .t-high-blue { /* date */
    color: #14606b;
  }
  .t-blue{
    color: #0c3940; /* #0a2f35; */
  }
  .t-green{
    color: #196642;
  }
  .t-red{
    color: #791f06;
  }
  .t-orange {
    color: #4a2d03; /*tag*/
  }
  .positive-balance-amount:before {
    content: "+ ";
  }
  .negative-balance-amount:before {
    content: "- ";
  }
  .c-block {
    display: block;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Expenze</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Transaction</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="history.html">History</a>
        </li>
        <li class="nav-item dropdown"
          onclick="document.getElementById('dd-statement').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle"> Statement </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-statement">
            <a class="dropdown-item" href="statement_card_view.html">Card View</a>
            <a class="dropdown-item" href="credit_card.html">Credit Card</a>
            <a class="dropdown-item" href="statement_line_chart.html">Line Chart</a>
            <a class="dropdown-item" href="bills_line_chart.html">Bills Line Chart</a>
          </div>
        </li>
        <li class="nav-item dropdown"
          onclick="document.getElementById('dd-status').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle"> Status </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-status">
            <a class="dropdown-item" href="balance.html">Balance</a>
            <a class="dropdown-item" href="expenses.html">Expenses</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right pr-5">
        <li class="nav-item">
          <a class="nav-link" href="account.html">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tag.html">Tag</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="transaction-app">
    <div class="row justify-content-md-center">
      <div class="col-sm-12">
        <button class="btn btn-info pull-right" v-on:click="isSearchFormOpen = true" v-if="!isSearchFormOpen">Search</button>
      </div>
      <div class="col-sm-12">
        <h4 v-if="isEditFormOpen">Edit Transaction</h4>
        <form v-if="isEditFormOpen" id="editForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>From Account</label>
              <select v-model="editModel.from_account_id" class="form-control"
                @change="getActivities()" placeholder="Select Account">
                <option value=0>Select Account</option>
                <option v-for="account in accounts" :value="account.id">{{ account.name + " :" + account.amount }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>To Account</label>
              <select v-model="editModel.to_account_id" class="form-control"
                @change="getActivities()" placeholder="Select Account">
                <option value=0>Select Account</option>
                <option v-for="account in accounts" :value="account.id">{{ account.name + " :" + account.amount }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Amount</label>
              <input type="number" class="form-control" v-model="editModel.amount" placeholder="Amount">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Select Tag</label>
              <select v-model="editModel.tag_id" class="form-control"
                placeholder="Select Tag">
                <option value=0>Select Tag</option>
                <option v-for="tag in tags" :value="tag.id" v-if="tag.tag_id == '0'">{{ tag.name }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Select Sub Tag</label>
              <select v-model="editModel.sub_tag_id" class="form-control"
                placeholder="Select Tag">
                <option value=0>Select Tag</option>
                <option v-for="tag in tags" :value="tag.id" v-if="tag.tag_id == editModel.tag_id">{{ tag.name }}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label>Event Date</label>
              <input type="date" class="form-control" v-model="editModel.event_date">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Remarks</label>
              <input type="text" class="form-control" v-model="editModel.remarks" placeholder="Remarks">
            </div>
            <div class="form-group col-md-3">
              <label>Options</label>
              <div>
                <a class="btn btn-info" v-on:click="editRecordConfirm()">Update</a>
                <a class="btn btn-warning" v-on:click="cancelEditRecord()" :href="'#item_' + editModel.id">Cancel</a>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>Delete</label>
              <div>
                <a class="btn btn-danger" v-if="editModel.openDelete != true" v-on:click="openDeleteRecord()">Delete</a>
                <a class="btn btn-danger" v-if="editModel.openDelete == true" v-on:click="deleteRecordConfirm()">Confirm?</a>
                <a class="btn btn-success" v-if="editModel.openDelete == true" v-on:click="cancelDeleteRecord()">Cancel</a>
              </div>
            </div>
          </div>
        </form>
        <h4 v-if="isSearchFormOpen">Search Passbook Entrie</h4>
        <form v-if="isSearchFormOpen">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Primary Account</label>
              <select v-model="transaction.account_id" class="form-control"
                @change="getActivities()" placeholder="Select Account">
                <option value=0>Select Account</option>
                <option v-for="account in accounts" :value="account.id">{{ account.name + " :" + account.amount }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label>Secondary Account</label>
              <select v-model="transaction.account_key" class="form-control"
                @change="getActivities()" placeholder="Select Account">
                <option value=0>Select Another Account</option>
                <option v-for="account in accounts" :value="account.id">{{ account.name + " :" + account.amount }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label>Select Transaction Type</label>
              <select v-model="transaction.transaction_type_id" class="form-control"
                @change="getActivities()" placeholder="Select Transaction Type">
                <option value=0>Select Transaction Type</option>
                <option v-for="tag in transactionTypes" :value="tag.id">{{ tag.name }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label>Select Tag</label>
              <select v-model="transaction.tag_id" class="form-control"
                @change="getActivities()" placeholder="Select Tag">
                <option value=0>Select Tag</option>
                <option v-for="tag in tags" :value="tag.id">{{ tag.name }} | {{ tag.parent || 'GOD' }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label>From Date</label>
              <input type="date" class="form-control" v-model="transaction.start_date">
            </div>
            <div class="form-group col-md-3">
              <label>Till Date</label>
              <input type="date" class="form-control" v-model="transaction.end_date">
            </div>
            <div class="form-group col-md-3">
              <label>Remarks</label>
              <input type="text" class="form-control" v-model="transaction.remarks">
            </div>
            <div class="form-group col-md-3">
              <label>Action</label>
              <p>
                <a class="btn btn-primary" v-on:click="getActivities()">Submit</a>
                <a class="btn btn-danger" v-on:click="clear()">Clear</a>
              </p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <p class=" pull-right">
                <a class="btn btn-warning" v-on:click="isSearchFormOpen = false" v-if="isSearchFormOpen">Hide Search Form</a>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-12">
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>From Account</th>
              <th>To Account</th>
              <th>Remark</th>
              <th>
                <span class="pull-right">Event date</span>
              </th>
              <th>
                <span class="pull-right">Amount</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(passbook, i) in activities.list" :id="'item_' + passbook.id">
              <td></td>
              <td>
                <p v-bind:class="[passbook.transaction_type === 'Income' ? 't-green' : 't-blue']">{{passbook.from_account || 'Credit'}}</p>
                <span class="pull-right t-blue-green" v-if="passbook.from_account">
                  <span class="t-orange ">{{format.format(passbook.fp_previous_balance)}} / </span>
                  <span class="t-blue ">{{format.format(passbook.fp_balance)}}</span>
                </span>
              </td>
              <td>
                <p v-bind:class="[passbook.transaction_type === 'Expense' ? 't-red' : 't-blue']">{{passbook.to_account || 'Debit'}}</p>
                <span class="pull-right t-blue-green" v-if="passbook.to_account">
                  <span class="t-orange ">{{format.format(passbook.tp_previous_balance)}} / </span>
                  <span class="t-blue ">{{format.format(passbook.tp_balance)}}</span>
                </span>
              </td>
              <td>
                <p class="t-orange">{{passbook.tag}} : {{passbook.sub_tag}}</p>
                <span class="t-blue-green" v-if="passbook.remarks && passbook.remarks.length < 43">{{passbook.remarks}}</span>
                <span class="t-blue-green" v-if="passbook.remarks && passbook.remarks.length > 42" :title="passbook.remarks">{{passbook.remarks.substring(0,40)}}...</span>
              </td>
              <td>
                <span class="ml-auto t-high-blue pull-right">{{passbook.event_date}}</span>
              </td>
              <td style="position: relative;">
                <p class="pull-right">
                  <span v-if="passbook.transaction_type === 'Transfer'" class="t-blue">{{format.format(passbook.amount)}}</span>
                  <span v-else-if="passbook.transaction_type === 'Income'" class="t-green positive-balance-amount">{{format.format(passbook.amount)}}</span>
                  <span v-else class="t-red negative-balance-amount">{{format.format(passbook.amount)}}</span>
                  <a @click="editRecord(passbook)" style="cursor: pointer;fill: rgb(2, 83, 59);" href="#editForm">
                    <!-- img style="height: 1rem;width: 1rem;" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy4xMjcgMjIuNTYybC03LjEyNyAxLjQzOCAxLjQzOC03LjEyOCA1LjY4OSA1LjY5em0xLjQxNC0xLjQxNGwxMS4yMjgtMTEuMjI1LTUuNjktNS42OTItMTEuMjI3IDExLjIyNyA1LjY4OSA1LjY5em05Ljc2OC0yMS4xNDhsLTIuODE2IDIuODE3IDUuNjkxIDUuNjkxIDIuODE2LTIuODE5LTUuNjkxLTUuNjg5eiIvPjwvc3ZnPg==" -->
                    <!-- svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 17 17"><path d="M7.127 22.562l-7.127 1.438 1.438-7.128 5.689 5.69zm1.414-1.414l11.228-11.225-5.69-5.692-11.227 11.227 5.689 5.69zm9.768-21.148l-2.816 2.817 5.691 5.691 2.816-2.819-5.691-5.689z"/></svg -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="position:absolute;bottom:5px;right:-10px;height:1.5rem;enable-background:new 0 0 512 512;" xml:space="preserve">
                      <polygon style="fill:#FBB429;" points="60.299,357.12 34.768,430.851 81.149,477.232 154.88,451.7 452.669,153.911 358.089,59.33   "/>
                      <path style="fill:#FF757C;" d="M400.931,16.487L358.089,59.33l94.581,94.581l42.842-42.842c8.404-8.404,8.404-22.03,0-30.434  l-64.147-64.147C422.961,8.084,409.335,8.084,400.931,16.487z"/>
                      <polygon style="fill:#847C7C;" points="10.199,501.8 81.149,477.232 34.768,430.851 "/>
                      <g>
                        <path style="fill:#4D4D4D;" d="M53.087,349.907c-1.091,1.091-1.921,2.416-2.425,3.875l-50.1,144.68   c-1.278,3.691-0.336,7.788,2.425,10.55C4.932,510.957,7.539,512,10.201,512c1.118,0,2.245-0.184,3.336-0.562l144.681-50.1   c1.459-0.505,2.783-1.335,3.875-2.425l340.631-340.631c12.367-12.368,12.367-32.491,0-44.859L438.577,9.275   c-12.367-12.367-32.49-12.367-44.857,0l0,0L53.087,349.907z M65.104,374.415l72.481,72.481l-53.739,18.609l-37.351-37.351   L65.104,374.415z M26.711,485.288l12.364-35.705l23.342,23.342L26.711,485.288z M155.848,436.308l-50.783-50.783l125.381-125.381   c3.983-3.983,3.983-10.441,0-14.425c-3.983-3.982-10.441-3.982-14.425,0L90.641,371.101l-14.948-14.948L358.089,73.755   l40.078,40.078l40.078,40.078L155.848,436.308z M488.299,103.856l-35.63,35.63L372.513,59.33l35.63-35.631   c4.414-4.414,11.597-4.414,16.01,0l64.147,64.147C492.714,92.259,492.714,99.443,488.299,103.856z"/>
                        <path style="fill:#4D4D4D;" d="M254.269,207.472l-14.279,14.279c-3.983,3.983-3.983,10.441,0,14.425   c1.992,1.991,4.602,2.987,7.212,2.987c2.61,0,5.221-0.997,7.212-2.987l14.279-14.279c3.983-3.983,3.983-10.441,0-14.425   C264.711,203.49,258.253,203.49,254.269,207.472z"/>
                      </g>
                    </svg>
                  </a>
                </p>
                <!-- p class="pull-right t-orange" style="cursor: pointer;">Edit?</p -->
              </td>
              <td></td>
            </tr>
            <tr>
              <td colspan="7" v-if="activities.list && activities.list.length == 0">
                <p class="t-blue text-center">No Records Found!</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-4">
        <nav class="bulma bulma-nav">
          <ul class="bulma-nav-ul" style="list-style-type:none;">
            <li v-bind:class="[transaction.page_size === 10 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 10;getActivities()">10</a>
            </li>
            <li v-bind:class="[transaction.page_size === 20 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 20;getActivities()">20</a>
            </li>
            <li v-bind:class="[transaction.page_size === 40 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 40;getActivities()">40</a>
            </li>
            <li v-bind:class="[transaction.page_size === 80 ? 'nav-item is-current' : 'nav-item']">
              <a class="bulma-nav-link" @click="transaction.page_size = 80;getActivities()">80</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-8">
        <nav class="bulma bulma-page pull-right">
          <a class="bulma-page-link" :disabled="transaction.page_index === 1"
             @click="pagePrevious()">Previous</a>
             <!-- current != final && final != 1
             (transaction.page_total - transaction.page_index) > 0
             page_index: 1,
             page_size: 10, //transaction.page_index === 1
             page_total: 0-->
          <a class="bulma-page-link" :disabled="transaction.page_total === 1 || transaction.page_total === transaction.page_index"
             @click="pageNext()">Next page</a>
          <ul class="bulma-page-ul" style="list-style-type:none;">
            <li v-if="transaction.page_index > 2">
              <a class="bulma-page-link" @click="changePage(1)">1</a>
            </li>
            <li v-if="transaction.page_index > 3"><a class="bulma-page-ellipsis">&hellip;</a></li>

            <li v-if="transaction.page_index > 1">
              <a class="bulma-page-link" @click="changePage(transaction.page_index - 1)">{{transaction.page_index - 1}}</a>
            </li>
            <li class="is-current"><a class="bulma-page-link">{{transaction.page_index}}</a></li>
            <li v-if="(transaction.page_total - transaction.page_index) > 0">
              <a class="bulma-page-link" @click="changePage(transaction.page_index + 1)">{{transaction.page_index + 1}}</a>
            </li>

            <li v-if="(transaction.page_total - transaction.page_index) > 2"><a class="bulma-page-ellipsis">&hellip;</a></li>
            <li v-if="(transaction.page_total - transaction.page_index) > 1">
              <a class="bulma-page-link" @click="changePage(transaction.page_total)">{{transaction.page_total}}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-12 text-center">
        <p style="margin:20px !important; padding:20px !important">Check all your Expenses of {{activities.sum}}!</p>
      </div>
    </div>
  </div>
</body>
<!-- -->
  <!-- our javascript -->
  <script>
    var app = new Vue({
      el: '#transaction-app',
      data: {
        tags: [],
        accounts: [],
        activities: [],
        transactionTypes: [ {id: 1, name: 'Transfer' }, {id: 2, name: 'Expense' }, {id: 3, name: 'Income' }],
        transaction: {
          account_id: 0,
          account_key: 0,
          tag_id:0,
          transaction_type_id: 0,
          start_date: null,
          end_date: null,
          page_index: 1,
          page_size: 10,
          page_total: 0
        },
        format: new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }),
        isSearchFormOpen: false,
        isEditFormOpen: false,
        editModel: {
          from_account_id: 0,
          to_account_id: 0,
          tag_id: 0,
          sub_tag_id: 0,
          amount: null,
          event_date: new Date().toISOString().slice(0,10),
          remarks: null
        }
      },
      created() {
          console.debug('Component has been created!');
      },
      methods: {
        getTags: function() {
          axios.get('tags')
          .then((response) => {
            this.tags = response.data;
          });
        },
        getAccounts: function() {
          axios.get('accounts')
          .then((response) => {
            this.accounts = response.data;
          });
        },
        pagePrevious: function()  {
          if (this.transaction.page_index > 1 ) {
            this.transaction.page_index --;
            this.getActivities();
          }
        },
        pageNext: function() {
          if (this.transaction.page_index != this.transaction.page_total && this.transaction.page_total != 1) {
            this.transaction.page_index ++;
            this.getActivities();
          }
        },
        changePage: function(n) {
          this.transaction.page_index = n;
          this.getActivities();
        },
        editRecord: function(passbook) {
          this.editModel = {
            id: passbook.id,
            from_account_id: passbook.from_account_id || 0,
            to_account_id: passbook.to_account_id || 0,
            tag_id: passbook.tag_id || 0,
            sub_tag_id: passbook.sub_tag_id || 0,
            amount: passbook.amount || null,
            event_date: passbook.event_date || new Date().toISOString().slice(0,10),
            remarks: passbook.remarks || null,
            openDelete: false
          }
          console.debug(this.editModel)
          this.isSearchFormOpen = false
          this.isEditFormOpen = true
        },
        cancelEditRecord: function(passbook) {
          this.editModel = {
            from_account_id: 0,
            to_account_id: 0,
            tag_id: 0,
            sub_tag_id: 0,
            amount: null,
            event_date: new Date().toISOString().slice(0,10),
            remarks: null
          }
          this.isEditFormOpen = false
        },
        editRecordConfirm: function() {
          axios.post('activities/'+this.editModel.id, this.editModel)
          .then((response) => {
            document.getElementById('item_' + this.editModel.id).scrollIntoView();
            this.cancelDeleteRecord();
            this.cancelEditRecord();
            this.getActivities();
          });
        },
        openDeleteRecord: function() {
          this.editModel.openDelete = true;
          console.debug(this.editModel)
        },
        cancelDeleteRecord: function() {
          this.editModel.openDelete = false;
        },
        deleteRecordConfirm: function() {
          axios.delete('activities/'+this.editModel.id)
          .then((response) => {
            this.cancelDeleteRecord();
            this.cancelEditRecord();
            this.getActivities();
          });
        },
        getActivities: function() {
          axios.get('activities/', { params: this.transaction })
          .then((response) => {
            this.activities = response.data;
            listCount = this.activities.total;
            pageWeight = this.transaction.page_size;
            b = listCount % pageWeight;
            if (b > 0) {
              listCount = listCount + (pageWeight - b);
            }
            this.transaction.page_total = listCount / pageWeight;
          });
        },
        clear() {
          this.activities = [];
          this.transaction = {
            account_id: 0,
            account_key: 0,
            tag_id:0,
            transaction_type_id: 0,
            start_date: null,
            end_date: null,
            page_index: 1,
            page_size: 10
          };
          console.debug('Reloaded..!');
        }
      },
      mounted() {
          console.debug('Component has been Mounted!');
          this.getTags();
          this.getAccounts();
          this.getActivities();
      }
    });
  </script>
</html>
