<!DOCTYPE html>
<html lang="en">
<head>
  <title>Expenze</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <script src="./jquery.min.js"></script>
  <script src="./axios.min.js"></script>
  <script src="./bootstrap.min.js"></script>
  <script src="vue-2.6.12.js"></script>
  <style>
    body {
      background-color: #eeeeee;
    }
    .form-group {
      margin-bottom: .25rem;
    }
    .navbar {
      margin-bottom: 1rem !important;
    }
    .c-block {
      display: block;
    }
  .table>thead>tr>th, .table>tbody>tr>td, td>.btn {
    padding: 0.1rem 0.7rem;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .font-14 {
    font-size: 14px;
  }
  .t-blue{
    color: #0c3940; /* #0a2f35; */
  }
  .cbg-primary {
    background-color: #e9ffea;
  }
  .cbg-danger {
    background-color: #fffaeb;
  }
  .cbg-secondary {
    background-color: #e7e4ff;
  }
  .t-green{
    color: #196642;
  }
  .t-red{
    color: #791f06;
  }
  .t-orange {
    color: #4a2d03; /*tag*/
  }
  .navbar {
    margin-bottom: 1rem !important;
  }
  .custom-group-item {
    position: relative;
    display: block;
    border: 1px solid rgba(0,0,0,.125);
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .custom-group-item:last-child {
    border-bottom: 0;
  }
  .custom-group-item:first-child {
    border-top: 0;
  }
  .c-block {
    display: block;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Expenze</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history.html">History</a>
        </li>
        <li class="nav-item dropdown"
          onclick="document.getElementById('dd-statement').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle"> Statement </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-statement">
            <a class="dropdown-item" href="statement_card_view.html">Card View</a>
            <a class="dropdown-item" href="credit_card.html">Credit Card</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="subscription.html">Subscription</a>
        </li>
        <li class="nav-item dropdown active"
          onclick="document.getElementById('dd-stock').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle">Stocks</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-stock">
            <a class="dropdown-item" href="stock.html">List</a>
            <a class="dropdown-item active" href="sold-stocks.html">History</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right pr-5">
        <li class="nav-item dropdown"
          onclick="document.getElementById('dd-account').classList.toggle('c-block')">
          <a class="nav-link dropdown-toggle">Accounts</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dd-account">
            <a class="dropdown-item" href="account.html">List</a>
            <a class="dropdown-item" href="balance.html">Balance</a>
            <a class="dropdown-item" href="expenses.html">Expenses</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tag.html">Tag</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" id="transaction-app">
    <div class="row justify-content-md-center">
      <div class="col-lg-12 col-md-12 col-sm-12 mt-3 pl-0 pr-0">
        <div v-for="(share, index) in accounts" :key="index" class="tb-clickable col-lg-12 col-md-12 col-sm-12 mb-3">

          <div class="card">
            <div class="card-body px-3" style="padding: 5px">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h5 class="card-title mb-0">{{share.code}}</h5>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"> <h6 class="text-muted mb-0 mt-1 pull-right">{{share.description}}</h6> </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h6 class="text-muted mb-0 mt-1">Buying Date: {{share.buy_date}}</h6>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <span class="t-blue">{{Number(share.current_quantity).toLocaleString('en')}} shares @
                    <span class="balance-amount">{{Number(share.buy_price).toLocaleString('en')}}</span>
                  </span>
                  <br>
                  <span class="t-blue">Investment: <span class="balance-amount">{{Number(share.invest).toLocaleString('en')}}<span>
                    &nbsp;(<small class="balance-amount">{{Number(share.buy_charges).toLocaleString('en')}}</small>)</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <span class="t-blue-green"> Sold At:
                    <span class="balance-amount">{{Number(share.sell_price).toLocaleString('en')}}</span>
                    & <span class="balance-amount">{{Number(share.charges).toLocaleString('en')}} charges</span>
                  </span>
                  <br>
                  <span class="t-blue">Value: <span class="balance-amount"
                     v-bind:class="[share.is_profit ? 't-green' : 't-red']">{{Number(share.value).toLocaleString('en')}}</span>
                     &nbsp;+&nbsp;<small class="balance-amount">{{Number(share.sell_charges).toLocaleString('en')}}</small>
                  </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <span class="t-orange">Days: {{share.days}}, Sell Date: {{share.sell_date}}</span>
                  <br>
                  <span class="t-blue">P&L: <span class="balance-amount"
                    v-bind:class="[share.is_profit ? 't-green' : 't-red']">{{Number(share.pl).toLocaleString('en')}}, {{Number(share.pl_percentage).toLocaleString('en')}}%</span>
                  </span>
                </div>
              </div>
            </div>
            <!-- div class="card-footer" v-if="share.buys.length > 1 & share.is_show">
              <div class="row" v-for="item in share.buys">
                <div class="col-lg-3 col-md-3 col-sm-3"><p class="t-blue">Quantity: {{item.current_quantity}}</p></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><p class="t-red">Buy Price: <span class="balance-amount">{{item.buy_price}}</span></p></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><p class="t-green">Buy Date: {{item.buy_date}}</p></div>
                <div class="col-lg-3 col-md-3 col-sm-3"><p class="t-green">Description: {{item.description}}</p></div>
              </div>
            </div -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
    var app = new Vue({
      el: '#transaction-app',
      data: {
        accounts: []
      },
      created() {
          console.log('Component has been created!');
      },
      methods: {
        getAccounts: function() {
          axios.get('/stocks?status=close')
          .then((response) => {
            this.accounts = [];
            response.data.forEach(row => {
              row.invest = row.current_quantity * row.buy_price;
              row.value = row.current_quantity * row.sell_price;
              row.charges = row.buy_charges + row.sell_charges;
              row.pl_percentage = ((row.value - row.charges)/row.invest-1)*100;
              row.pl = row.value - row.invest;
              row.is_profit = row.value > row.invest;
              row.days = Math.round((new Date(row.sell_date).getTime() - new Date(row.buy_date).getTime()) / (1000 * 3600 * 24));
              this.accounts.push(row);
            });
          });
        },
      },
      mounted() {
        console.log('Component has been Mounted!');
        this.getAccounts();
      }
    });
  </script>
</html>
